html
  include partials/head.pug
  title Boxer Program - Flyod Mayweather
  body 
    h1= fight.name
    h4
      a(href='/', class= 'backHome')
        p HomePage
    h3= `Record: ${fight.record}`
    a(href=fight.website, class= 'website')
      p= fight.website
    table
      caption Matches
      thead 
        tr
          th Date of Fight
          th Fighter
          th Outcome 
      tbody 
        for matches in fight.matches 
          tr
            td(class="match")= match.date_of_fight
            td(class="match")= match.fighter
            td(class="match")= match.outcome 

                